.cards {
    background: #fff;
  }
  
  h1 {
    text-align: center;
    margin: 4rem;
  }

  .cards__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    margin: 0 1rem;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .cards__item__link {
    display: block;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, .20));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, .20));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #124774;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #242424;
    font-size: 18px;
    line-height: 24px;
  }

  .cards__item__link:hover {
    box-shadow: 0 6px 10px rgba(21, 81, 194, 0.17);
  }
  
  @media only screen and (max-width: 750px) {
    .cards__items {
      display: block;
    }
  }