.contact-form-container {
    height: 500px;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #124774;
    border-radius: 5px;
  }

  .message{
    height: 200px;
  }
  
  h2 {
    color: #124774;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #124774;
    border-radius: 5px;
    font-size: 16px;
  }
  